// Fonts

// Variables
@import 'variables';
@import 'test';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
// Bootstrap
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/font/fontawesome-webfont.eot?v=3.0.1');
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
      url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
      url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*, html {padding:0; margin:0;}
.project_images{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    li{
        list-style-type: none;
        background-color: #36393e;
        border: 1px solid rgba(255, 255, 255, 0.582);
        border-radius: 20px;
        margin-bottom: 15px;
        text-align: center;
        width: 40%;
        display: inline-block;
        margin-left: 5%;
        margin-right: 2%;

        min-height: 250px;
        min-width: 250px;
        animation: project-hover2 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transition: ease all .5s;
        padding: 10px;
        
        a{
            .image_project{
                display: block;
                width:  175px;
                height: 175px;
                padding: 20px;
                object-fit: scale-down;
                margin: 0 auto;
                transition: ease all .5s;
                a{
                    font-size: 24px;
                    text-align: center;
                }

            }
        
        }
        &:hover{
            animation: project-hover 0.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
        }
    }
    @media all and(max-width: 400px){
        li{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2vh;
            a{
                .image_project{
                    width: 100%;
                    height: auto;
                    transform: none;
                }
            }
        }
    }
    @media all and(max-width: 768px){
        li{
            width: 75%;
            margin: 0 auto;
            margin-bottom: 2vh;
            a{
                .image_project{
                    width: 100%;
                    height: auto;
                    transform: none;
                }
            }
        }
    }
    @media all and(min-width: 769px) and(max-width: 999px){
        li{
            width: 75%;
            margin: 0 auto;
            margin-bottom: 2vh;
            a{
                .image_project{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    @media all and(min-width: 1000px) and(max-width: 1599px){
        li{
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
            a{
                .image_project{
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
    @media all and(min-width: 1600px){
        li{
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;
            a{
                .image_project{
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }
    

}


.signup-form{
    min-width: 200px;
    margin: 0 auto;
    .alert {
        width:60%; 
        margin: 0 auto;
        text-align: center;   
     }
}

body{	font-family: "Roboto";}

///admin

.admin-container{
    box-sizing: border-box;
    .admin-header{
        background-color: $admin1;
        color: white;
        .user-box, .cat-box{
            display: flex;
            justify-content: center;
            align-items: center;
            .inside-box{
                width: 80%;
                height: 50px;
                
                background-color: $admin2;
                display: flex;
                justify-content: center;
                align-items: center;
                p, h1{
                    margin-bottom: 0;
                }
            }
        }
    }
    

}


//bootstrap


.sidebar{   background-color:#105689;transition: all 0.5s  ease-in-out; }
.bg-defoult{background-color:#105689;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color: #105689;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#105689 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
	.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
	

	.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 42px;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}
	

.vert-container{
    .chat{
        justify-content: center;
        align-items: center;
        display: flex;
        .centeredh1{
            text-align: center;
            margin-bottom: 30px;
            width: 332px;
            font-size: 1.9rem;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            margin-bottom: 25px;
            letter-spacing: .15em; /* Adjust as needed */
            animation: 
            typing2 1.5s steps(40, end),
            blink-caret .75s step-end infinite;

        }
        @media all and(max-width: 400px){
            .centeredh1{
                width: 230px;
                font-size: 1.4rem;
                animation: 
            typing3 1.5s steps(40, end),
            blink-caret .75s step-end infinite;
            }
        }
        .content{
            text-align: left;
           
            padding: 20px;
            width: 80%;
            h1{
                margin-bottom: 30px;
                width: 266px;
                font-size: 1.9rem;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid orange; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                margin-bottom: 25px;
                letter-spacing: .15em; /* Adjust as needed */
                animation: 
                typing 1.5s steps(40, end),
                blink-caret .75s step-end infinite;
            }
            h3{
                margin-bottom: 15px;
            }
            @media all and(max-width: 400px){
                h3, p{
                    font-size: 0.9rem;
                }
            }
                .buttoneffect{
                    border-radius: 4px;
                    background-color: $server-bg;
                    border: 1px solid white;
                    color: #FFFFFF;
                    text-align: center;
                    font-size: 28px;
                    padding: 20px 10px;
                    width: 275px;
                    transition:  0.5s;
                    cursor: pointer;
                    margin: 45px 5px 5px 5px;
                    span{
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                        padding-right: 25px; 
                        color: white;
                        &:after{
                            color: white;
                            font-family: 'FontAwesome';
                            content: '\f061';
                            position: absolute;
                            opacity: 1;
                            top: 0;
                            right: -15px;
                            transition:  0.5s;
                        }
                    }
                    &:hover{
                        background-color: orange;
                        color: white;
                        padding: 25px 10px;
                        transition:  0.5s;
                        width: 300px;
                        span{
                            transition: 0.5s; 
                            color: white;
                            
                            &:after{
                                opacity: 1;
                                margin-top: 5px;
                                color: white;
                                content: '\f061';
                                transform: rotate(90deg);
                                
                            }
                        }
                    
                }
            }
            
        }
        .content2{
            text-align: center;
            
            padding: 20px;
            width: 100%;
            h1{
                margin-bottom: 30px;
                width: 220px;
                font-size: 1.95rem;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid orange; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                margin-bottom: 25px;
                letter-spacing: .15em; /* Adjust as needed */
                animation: 
                typing4 1.5s steps(40, end),
                blink-caret .75s step-end infinite;
            }
            h3{
                margin-bottom: 15px;
            }
            @media all and(max-width: 400px){
                h3, p{
                    font-size: 0.9rem;
                }
            }
            table{
                table-layout: fixed;
                width: 250px;
                tr{
                    td{
                        text-align: start;
                        &:nth-of-type(2) {
                       }
                    }
                }
            }
            
            
        }
        .content5{

            width: 100%;
            padding: 20px;
            h1{

                text-align: center;
                width: 185px;
                font-size: 2rem;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid orange; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                margin-bottom: 35px;
                margin-top: 35px;
                letter-spacing: .15em; /* Adjust as needed */
                animation: 
                typing5 1.5s steps(40, end),
                blink-caret .75s step-end infinite;
            }
            h3{
                margin-bottom: 15px;
                display: inline-block;
                
            }
            @media all and(max-width: 500px){
                h3{
                    font-size: 1.3rem;
                }
                h1{
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                p{
                    font-size: 0.875rem;
                }
            }
            @media all and(max-width: 770px){
                p{
                    font-size: 0.75rem;
                }
            }
            #profile{
                width: 250px;
                height: 250px;
                border-radius: 100%;
                margin: 0 auto;
                display: block;
            }
            .skills{
                display: block;
                margin: 0 auto;
            .skill_item{
                margin-top: 15px;
                display: block;
                .skill_title{
                    float: left;
                    line-height: 40px;
                    width: 25%;
                    font-size: 15pt;
                }
                .progress {
                    background: #2E3136;
                    justify-content: flex-start;
                    border-radius: 100px;
                    align-items: center;
                    position: relative;
                    padding: 0 5px;
                    display: flex;
                    height: 40px;
                    width: 50%;
                
                  .progress-value {

                    box-shadow: 0 10px 40px -10px orange;
                    border-radius: 100px;
                    background: orange;
                    height: 30px;
                    width: 0;
                    line-height: 30px;
                    text-align: end;
                    span{
                        padding-right: 15px;
                    }
                  }
                    .html{
                        animation: html 3s normal forwards;
                    }
                    .css{
                        animation: css 3s normal forwards;
                    }
                    .sass{
                        animation: sass 3s normal forwards;
                    }
                    .javascript{
                        animation: javascript 3s normal forwards;
                    }
                    .php{
                        animation: php 3s normal forwards;
                    }
                    .jquery{
                        animation: jquery 3s normal forwards;
                    }
                    .react{
                        animation: react 3s normal forwards;
                    }
                    .laravel{
                        animation: laravel 3s normal forwards;
                    }

                  @keyframes html {
                    0% { width: 0; }
                    100% { width: 90%; }
                  }
                  @keyframes css {
                    0% { width: 0; }
                    100% { width: 90%; }
                  }
                  @keyframes sass {
                    0% { width: 0; }
                    100% { width: 80%; }
                  }
                  @keyframes javascript {
                    0% { width: 0; }
                    100% { width: 80%; }
                  }
                  @keyframes php {
                    0% { width: 0; }
                    100% { width: 75%; }
                  }
                  @keyframes jquery {
                    0% { width: 0; }
                    100% { width: 60%; }
                  }
                  @keyframes react {
                    0% { width: 0; }
                    100% { width: 30%; }
                  }
                  @keyframes laravel {
                    0% { width: 0; }
                    100% { width: 30%; }
                  }
                }
            } 
        }           
        }
        @media all and(min-width: 1200px){
            .content5{
            }
        }
        @media all and(max-width: 920px){
            .content5{
            }
        }
        @media all and(max-width: 769px){
            .content5{

            }
        }
        @media all and(max-width: 500px){
            .content, .content2{
                padding: 20px 0px;

                width: 97%;
            }
        .content5{
            position: static;
            transform: none;
            padding: 20px 0px;
            width: inherit;
            .skills{
                .skill_item{
                    .skill_title{
                        width: 33%;
                        font-size: 11pt;
                        margin-left: 7.5pt
                    }
                }
            }
        }

    }

    }
    .projectpage{
        padding-top: 50px;
    }
    .projectschat{
        display: block !important;
    }
}
@keyframes project-hover{
    0%{
        background-color: #36393e;
        border: 1px solid rgba(255, 255, 255, 0.582);
    }
    100%{
        background-color: darken(#2E3136, 2.5%);
        border: 1px solid #7289DA;
    }
}
@keyframes project-hover2{
    from{
        background-color: darken(#2E3136, 2.5%);
        border: 1px solid #7289DA;
    }
    to{
        background-color: #36393e;
        border: 1px solid rgba(255, 255, 255, 0.582);
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 266px }
  }
  @keyframes typing2 {
    from { width: 0 }
    to { width: 332px }
  }

  @keyframes typing3 {
    from { width: 0 }
    to { width: 230px }
  }
  @keyframes typing4 {
    from { width: 0 }
    to { width: 220px }
  }
  @keyframes typing5 {
    from { width: 0 }
    to { width: 180px }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.flex{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.row{
    flex-direction: row;
}
.icon{
    background: #1E2124;
    cursor: pointer;
    font-size: 22pt;
    height: 65px;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 65px;
color: orange;
  
}
@media all and(min-width: 480px){ 
    .out{
        animation: out 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .in{
        animation: in 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

@keyframes out{
    0%{
        background-color: orange;
        color: #1E2124;
    }
    100%{
        
    }
}
@keyframes in{
    0%{
        
    }
    100%{
        background-color: orange;
        color: #1E2124;
    }
}
}