// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.image_project{
    width: 10px;
    height: 10px;
}

.project_images{
    width: 100%;
    li{
        width: 100%;
        list-style-type: none;
        background-color: beige;
        border: 1px solid brown;
        border-radius: 20px;
        margin-bottom: 15px;
        text-align: center;
        .image_project{
            width: 25%;
            height: 100px;
            display: block;
            margin: 0 auto;
            a{
                font-size: 24px;
                text-align: center;
            }
        }
    }
}

.signup-form{
    min-width: 200px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}